<!DOCTYPE html>
<html>

<head>
    
    <%- include("../../"+releaseEnv+"/components/loader.html"); %>
   <!-- Dev version -->
   
     <%- include("../../"+releaseEnv+"/components/headercontent.html") -%>
     
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        
        <%- include("../../"+releaseEnv+"/components/slidebar.html"); %>
        
        <script src="../../admin/js/app/app_employees.js"></script>
        <div class="content-wrapper">
            <section class="content">
                <%- include("../../"+releaseEnv+"/components/controlbar.html"); %>
                <%- include("../../"+releaseEnv+"/components/consolidatereportbar.html"); %>
                
            </section>
        </div>
    </div>
    <%- include("../../"+releaseEnv+"/components/modal.html"); %>
     
</body>

</html>