<!DOCTYPE html>
<html>

<head>

  <%- include('../../public/components/loader.html'); %>
  <%- include('../../public/components/legacyinnerheadercontent.html'); %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%- include('../../public/components/slidebar.html'); %>

    <script src="../../admin/js/app/app_gender.js"></script>
    <div class="content-wrapper">
      <section class="content">
        <%- include('../../public/components/controlbar.html'); %>
        <%- include('../../public/components/consolidatereportbar.html'); %>

      </section>
    </div>
  </div>
  <%- include('../../public/components/modal.html'); %>

</body>

</html>