<!DOCTYPE html>
<html>

<head>

    <%- include("../../public/components/loader.html"); %>
   <!-- Dev version -->
   
     <%- include("../../public/components/headercontent.html") -%>
     
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <%- include('../../public/components/slidebar.html'); %>
        <%- include('../../public/components/vfooter.html'); %>
            <!-- Multiselect .js -->
            <link rel="stylesheet" href="../../vdashboard/dist/css/multiselect.css" />
            <script src="../../vdashboard/plugins/multiselect/multiselect.js"></script>
            <!-- end here -->


            <div class="content-wrapper">
                <section class="content">
                    <%- include('../../public/components/controlbar.html'); %>
                        <%- include('../../public/components/consolidatereportbar.html'); %>

                </section>
            </div>
    </div>
    <%- include('../../public/components/modal.html'); %>
        <script src="../../admin/js/app/app_employees.js"></script>
</body>

</html>